<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @odrder_product.product %>
</p>

<p>
  <strong>Order:</strong>
  <%= @odrder_product.order %>
</p>

<%= link_to 'Edit', edit_odrder_product_path(@odrder_product) %> |
<%= link_to 'Back', odrder_products_path %>
